.home {
    .spanlove {
        color: #e07a9a;
    }

    .faded-button {
        button {
            background: rgba(#4e76f4, 0.7) !important;
            font-weight: 500;
            height: max-content;
            padding: 0.65rem;
        }
    }
}
