.home {
    .spanlove {
        color: #D50B0A;
    }

    .faded-button {
        button {
            background: rgba(#4e76f4, 0.7) !important;
            font-weight: 500;
            height: max-content;
            padding: 0.65rem;
        }
    }
}
.gfg {
    width: 100%;
}
body, html {
    height: 100%;
}

.hero {
    height: 500px;
    background: url("../Assets/Header.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.test {
    height: 100%;
    display: flex;
    align-items: center;
}

.section_1_text {
    flex-direction: column;
}
.section_1{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 200px;
}
.overlay_header{
    background: #D50B0A;
    width: 100%;
    color: #ffffff;
}


.boldh1 {
    font-weight: bold;
}


.section_2{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 200px;
    background: #F4F4F4;
}

.flex_images{

    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;

}

.section_3{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 140px;
    background: #D50B0A;
    color: #F6F6F6;
}

.btn-light{
    --bs-btn-color: #D50B0A !important;
    --bs-btn-border-color: #D50B0A !important;
}

.section_4 {
    margin-top: 20px;
    margin-bottom: 25px;

    height: 230px;
    background: #F4F4F4;
}
.section_5 {
    height: 280px;

}
.section_9{
    height: 15px
}
.spanlove {
    color: #D50B0A;
}

.margin_top{
    margin-top: 2rem;
    margin-bottom: 25px;
}
.margin_topsmall{
    margin-top: 1rem;
    margin-bottom: 15px;
}
.section_6 {
    height: 420px;

}